 @font-face {
    font-family: 'gwibbleregular';
    src: url('fonts/gwibble_-webfont.woff2') format('woff2'),
         url('fonts/gwibble_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
		@font-face {
    font-family: 'grinchedregular';
    src: url('fonts/grinchedregular-webfont.woff2') format('woff2'),
         url('fonts/grinchedregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 #logged{
		font-size: 25pt;
		color: #a8e0f4;
		transform: translate(-10px, 5px);
		}
		#dropdownMenuButton{
		transform: translate(120px, 20px);
		background-color: #2e61a0;
		border: #2e61a0;
		}
		#menu{
		float: right;
		transform: translateX(210px);
		font-family: grinchedregular ;
		}
		.dropdown-item{
		font-size: 15pt;
		}
    body{
		background: url("images/bg.jpg");
		}
  	.navbar-toggle{
    float: left;
		border: none;
		}
		.navbar-header{
		height: 85px;
		background: #2e61a0;
		border: 1px white solid;
		}
		#title{
		font-size: 30pt;
		margin-left: 70%;
		margin-top: 25%;
		font-family: grinchedregular ;
		color: #d3f3ff;
		  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
			 font-size: 12vw;
  z-index: 1000;
		}
		#sun{
		height: 50px;
		weight:50px;
		}
		.collapse{
		background-color: white;
		}
		.collapse  .nav .dropdown .dropdown-toggle:active{
		background-color: gray;
    }
		.collapse  .nav .dropdown .dropdown-toggle:visited{
		background-color: gray;
		}
		#profile-img{
		border: 2px black solid;
		border-radius: 50%;
		height: 30%;
		width: 30%;
		transform: translateX(120px);
		}
 @media only screen and (max-width: 330px) {
     #title {
         font-size: 30pt;
         margin-left: 40%;
         margin-top: 25%;
         font-family: grinchedregular;
     }

     #dropdownMenuButton {
         /* transform: translate(24%, 3%);*/
         transform: translate(70px, 20px);
         background-color: #2e61a0;
         border: #2e61a0;
     }
}

    @media only screen and (min-width: 500px) {
	    .navbar-header {
		    display: none;
	    }
}
