@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('https://fonts.googleapis.com/css?family=Titan+One');


h3{
    margin-left: 48%;
    
    }
.mx-auto{
     margin-left:;
    font-size: 30px;
}

.row{
    margin-left: 0%;
}

#Articles{
    margin-left: 36%;
}



.img-responsive{
    height: 120px;
    width: 120px;
}

body{
    background-image: url(Background_Articles2.jpg);
}

#Articles{
    font-family: 'Titan One', cursive;
        font-Size: 35px;
}

.margin-t-h{
margin-left: 140px;
    margin-top: -90px;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}

.glyphicon glyphicon-arrow-left{
    
    margin-top: 20px;
    color: red;
}

.navbar-brand{
    margin-left: 35%;
}

#arrow{
    
    margin-top: -42px;
    position: absolute;
    font-size: 30px;
    color: red;
}




